<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Document</title>
</head>

<body style="background-color: darkviolet;">
    <div class="container">
        <div class=" container-fluid"
            style="border-radius: 20px; border: 5px solid black; background-color: purple; display: flex; justify-content: space-around; align-items: center;">
            <div>
                <h1>Edit Recipe!</h1>
            </div>
            <div>
                <a href='/recipes'>back to recipes</a>
                <a href="/logout">logout</a>
            </div>
        </div>
        <div class=" container-fluid"
            style="border-radius: 20px; border: 5px solid black; background-color: purple; color: white;">
            <div>
                <div style="color: red;">
                    {% with messages = get_flashed_messages() %} <!-- declare a variable called messages -->
                    {% if messages %} <!-- check if there are any messages -->
                    {% for message in messages %} <!-- loop through the messages -->
                    <p>{{message}}</p> <!-- display each message in a paragraph tag -->
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
                <form action="/recipe/update/{{one_recipe.id}}" method="post" class="align-items-center">
                    <div class="d-flex" style="margin: 20px;">
                        <label for="name">name:</label>
                        <input type="text" name="name" value="{{one_recipe.name}}" class="container-fluid"
                            style="margin-left: 40px;">
                    </div>
                    <div class="d-flex" style="margin: 20px;">
                        <label for="description">Description:</label>
                        <textarea class="form-control container-fluid" name="description"
                            value="{{one_recipe.description}} rows=" 2">{{one_recipe.description}} </textarea>
                    </div>
                    <div class="d-flex" style="margin: 20px;">
                        <label for="instructions">instructions:</label>
                        <textarea class="form-control container-fluid" name="instructions"
                            value="{{one_recipe.instructions}} rows=" 2">{{one_recipe.instructions}}</textarea>
                    </div>
                    <div style="margin: 20px;">
                        <label for="date" style="padding-right: 20px;">Date Cooked/Made:</label>
                        <input type="date" name="date" value="{{one_recipe.date}}">
                    </div>
                    <div style=" margin: 20px;" style="display: flex;">
                        <div>
                            <label for="under_30" style="padding-right: 30px;">Under 30 minutes?</label>
                            {% if one_recipe.under_30 == 1 %}
                            <input type="radio" name="under_30" value="1" checked>
                            <label for="yes">Yes</label>
                            <input type="radio" name="under_30" value="0">
                            <label for="no">No</label>
                            {% else %}
                            <input type="radio" name="under_30" value="1">
                            <label for="yes">Yes</label>
                            <input type="radio" name="under_30" value="0" checked>
                            <label for="no">No</label>
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-end">
                            <input type="submit" value="Updated"
                                style="font-size: 20px; background-color: blue; color: white; border-radius: 10px;">
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>

</body>

</html>