<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container">
    <div class="mb-3" >
        <h1>Dojo Survey</h1>
    </div>
    <div class="mb-3">
        <label for="Name">Name:</label>
        <input type="text" name="name">
      </div>
      <div class="mb-3">
        <label for="location" class="location">Dojo Location:</label>
        <select name="location" id="location">
            <option value="michigan">Michigan</option>
            <option value="alaska">Alaska</option>
            <option value="virginia">Virginia</option>
            <option value="guam">Guam</option>
            <option value="texas">Texas</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="language">Favorite Language:</label>
        <select name="location" id="location">
            <select name="language" id="">
                <option value="java-script">JavaScript</option>
                <option value="html">HTML</option>
                <option value="css">CSS</option>
                <option value="python">Python</option>
            </select>
        </select>
      </div>
      <div class="mb-3">
        <label for="comment">Comment(optional):</label>
        <textarea name="comment" id="" cols="30" rows="10" style="resize: none;"></textarea>
      </div>
</body>
</html>