<!DOCTYPE html>
<html>

<head>
    <title>Rick and Morty Character Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/location.css') }}">
</head>

<body>
    <div class="panel">
        <h1>Rick and Morty Quiz</h1>
        <div class="question" id="ques"></div>
        <div class="options" id="opt"></div>
        <button onclick="checkAns()" id="btn">Submit</button>
        <div id="score"></div>

    </div>



    <script src="{{ url_for('static', filename='js/location.js') }}"></script>
</body>

</html>