<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Game</title>
</head>
<body>
    
<a href="/"><button>Home</button></a>

    <form action="/submit_game_form" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="genre">Genre:</label>
            <input type="text" name="genre">
        </div>
        <div>
            <label for="release_year">Genre:</label>
            <input type="number" name="release_year">
        </div>

        <input type="submit" value="Submit a Game">
    </form>


</body>
</html>