<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>

<style>
    *{
        padding: 0;
        margin: 0;
    }

    .top-bar{
        background-color: green;
        width: 400px;
        margin: 0 auto;
        display: flex;
    }

    h1 {
        margin: 0 auto;
        justify-content: center;
    }
</style>

<body>
    <div class="top-bar">
        <h1>Welcome!</h1>
    </div>
    <div class="boxes">
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
    </div>

</body>
</html>