* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/static/img/space-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}

.top {
    display: flex;
    justify-content: center;
}

.reg {
    border: 3px solid white;
    font-size: 30px;
    padding: 20px;
    background-color: black;
}

.log {
    border: 3px solid white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    background-color: black;
}