* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/static/img/space-2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.big-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 600px;
    width: 800px;
    margin-top: 10%;
}

.title {
    display: flex;
    justify-content: center;
}


.enter {
    display: flex;
    justify-content: center;
}


.portal {
    height: 300px;
    width: 300px;
}